[submodule "scripts/AutoClicker"]
	path = scripts/AutoClicker
	url = https://github.com/Tocchetto/AutoClicker.git
[submodule "deps/AutoitUtils"]
	path = deps/AutoitUtils
	url = https://github.com/Tocchetto/AutoitUtils.git
[submodule "scripts/TextManipulator"]
	path = scripts/TextManipulator
	url = https://github.com/Tocchetto/TextManipulator.git
