[submodule "scripts/AutoClicker"]
	path = scripts/AutoClicker
	url = https://github.com/Tocchetto/AutoClicker.git
[submodule "deps/AutoitUtils"]
	path = deps/AutoitUtils
	url = https://github.com/Tocchetto/AutoitUtils.git
[submodule "scripts/TextManipulator"]
	path = scripts/TextManipulator
	url = https://github.com/Tocchetto/TextManipulator.git
[submodule "scripts/CursorInfo"]
	path = scripts/CursorInfo
	url = https://github.com/Tocchetto/CursorInfo.git
[submodule "scripts/BotMaker"]
	path = scripts/BotMaker
	url = https://github.com/Tocchetto/BotMaker.git
[submodule "scripts/BOT_LegendSlime"]
	path = scripts/BOT_LegendSlime
	url = https://github.com/Tocchetto/BOT_LegendSlime.git
[submodule "scripts/OSTimeManipulator"]
	path = scripts/OSTimeManipulator
	url = https://github.com/Tocchetto/OSTimeManipulator.git
[submodule "scripts/DataFrameGenerator"]
	path = scripts/DataFrameGenerator
	url = https://github.com/Tocchetto/DataFrameGenerator.git
